<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="src.main.java.logging">
    <Appenders>
        <RollingFile
                name="logfile"
                fileName="${sys:user.home}/AppData/Local/Pixelator/logs/pixelator.log"
                filePattern="${sys:user.home}/AppData/Local/Pixelator/logs/pixelator-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

            <DefaultRolloverStrategy max="7">
                <Delete basePath="${sys:user.home}/AppData/Local/Pixelator/logs/" maxDepth="1">
                    <IfLastModified age="365d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-5level | %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.pixelator.app" level="info" additivity="false">
            <AppenderRef ref="logfile"/>
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="OFF">
            <AppenderRef ref="logfile"/>
        </Root>
    </Loggers>
</Configuration>
