.root {
    -px_default: #FFFFFF;
    -px_window: #FFFFFF;
    -px_empty_area: #F4F4F4;
    -px_hover: #DDDDDD;
    -px_selected: #CCCCCC;
    -px_armed: #BBBBBB;
    -px_bright_default: #AAAAAA;
    -px_dark_default: #606060;
    -px-custom-background: #000000;
    -px-custom-background-2: #000000;
}

.menu-bar {
    -fx-background-color: -px_default, -px_empty_area;
    -fx-background-insets: 0, 0 0 1 0;
}

.tool-bar {
    -fx-background-color: -px_armed, -px_empty_area;
    -fx-background-insets: 0, 0 0 1 0;
}

.button {
    -fx-background-color: -px_bright_default, -px_hover;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.button:hover {
    -fx-background-color: -px_bright_default, -px_selected;
}

.button:armed {
    -fx-background-color: -px_bright_default, -px_armed;
}

.draggable-pane {
    -fx-background-color: -px_window;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.text {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: TOP_LEFT;
    -fx-content-display: LEFT;
}

.text-field {
    -fx-background-color: -px_bright_default, -px_default;
    -fx-background-insets: 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 0, 0;
    -fx-padding: 0.25em 0.416667em  0.333333em 0.416667em; /* 3 5 4 5 */
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: -px_bright_default;
    -fx-cursor: text;
}

.text-field:focused {
    -fx-background-color: -px_bright_default, -px_default;
    -fx-background-insets: 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 0, 0;
    -fx-prompt-text-fill: transparent;
}

.no-background-text-field {
    -fx-background-color: transparent;
    -fx-border: -px_bright_default;
}

.no-background-text-field:focused {
    -fx-background-color: transparent;
    -fx-border: -px_bright_default;
}

.check-box > .box {
    -fx-background-color: -px_bright_default, -px_default;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}

.check-box > .box:hover {
    -fx-background-color: -px_bright_default, -px_hover;
}

.check-box > .box:armed {
    -fx-background-color: -px_bright_default, -px_selected;
}

.check-box > .box > .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.4em;
    -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z"; /* see modena.css */
}

.check-box:selected > .box > .mark {
    -fx-background-color: #000000;
}

.close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0.25em 0.25em 0.25em 0.25em;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.close-button:hover {
    -fx-background-color: #D81123;
}

.close-button:armed {
    -fx-background-color: #FF8888;
}

.default-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0.25em 0.25em 0.25em 0.25em;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.default-button:hover {
    -fx-background-color: -px_hover;
}

.default-button:armed {
    -fx-background-color: -px_selected;
}

.default-button:disabled {
    -fx-opacity: 0.4
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0.25em 0.25em 0.25em 0.25em; /* 0.25em = 3px */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.toggle-button:focused {
    -fx-background-color: transparent;
}

.toggle-button:hover {
    -fx-background-color: -px_hover;
}

.toggle-button:armed {
    -fx-background-color: -px_selected;
}

.toggle-button:selected {
    -fx-background-color: -px_selected;
}

.toggle-button:disabled {
    -fx-opacity: 0.4;
}

.toggle-button:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.slider > .track {
    -fx-background-color: -px_hover;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 1 0 1 0;
}

.slider > .bar {
    -fx-background-color: -px_dark_default;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 1 0 1 0;
}

.slider > .thumb-aura {
    -fx-background-color: transparent;
    -fx-background-radius: 1em; /* makes sure this remains circular */
    -fx-padding: 10;
}

.slider:hover > .thumb-aura {
    -fx-background-color: #60606040;
}

.slider > .thumb {
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-background-radius: 0.5em; /* makes sure this remains circular */
    -fx-padding: 5;
    -fx-effect: null;
}

.palette-toggle-button:armed {
    -fx-background-insets: 0 -6 0 0;
}

.palette-toggle-button:selected {
    -fx-background-insets: 0 -6 0 0;
}

.tool-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0.25em 0.25em 0.25em 0.25em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.tool-button:focused {
    -fx-background-color: transparent;
}

.tool-button:hover {
    -fx-background-color: -px_hover;
}

.tool-button:armed {
    -fx-background-color: -px_selected;
}

.tool-button:default {
    -fx-base: -fx-accent;
}

.tool-button:cancel {
}

.tool-button:disabled {
    -fx-opacity: 0.4;
}

.tool-button:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}


.split-pane {
    -fx-background-color: -px_empty_area;
    -fx-background-insets: 0, 1;
    -fx-padding: 0;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 2 0 2; /* 0 3 0 3 */
}

/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > .split-pane-divider {
   -fx-border-color: -px_empty_area;
   -fx-background-color: -px_empty_area;
   -fx-background-insets: 0, 0 1 0 1;
}

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
   -fx-border-color: -px_empty_area;
   -fx-background-color: -px_empty_area;
   -fx-background-insets: 0, 1 0 1 0;
}

.split-pane > .split-pane-divider > .horizontal-grabber {
    -fx-padding: 5 1 5 1;
    -fx-background-color: -px_empty_area;
    -fx-background-insets: 1 0 -1 0, 0;
}

.split-pane > .split-pane-divider > .vertical-grabber {
    -fx-padding: 1 5 1 5;
    -fx-background-color: -px_empty_area;
    -fx-background-insets: 1 0 -1 0, 0;
}

.scroll-bar:horizontal {
    -fx-background-color: -px_bright_default;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal:armed {
    -fx-background-color: -px_armed;
    -fx-background-insets: 0;
}

.scroll-bar:vertical {
    -fx-background-color: -px_bright_default;
    -fx-background-insets: 0;
}

.scroll-bar:vertical:focused {
    -fx-background-color: -px_armed;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal > .thumb {
    -fx-background-color: -px_bright_default;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: -px_bright_default;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar:focused > .thumb {
    -fx-color: -px_armed;
}

.scroll-bar > .thumb:hover {
    -fx-color: -px_bright_default;
}

.scroll-bar:horizontal > .track {
    -fx-background-color: -px_default;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal > .track-background {
    -fx-background-color: -px_default;
    -fx-background-insets: 0;
}

.scroll-bar:vertical > .track {
    -fx-background-color: -px_default;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar:vertical > .track-background {
    -fx-background-color: -px_default;
    -fx-background-insets: 0;
}

.scroll-bar > .increment-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0;
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.scroll-pane > {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-pane > * > .scroll-bar:horizontal {
    -fx-background-insets: 0;
    -fx-padding: 0.0 0.0 0.0 0.0;
}

.scroll-pane > * > .scroll-bar:vertical {
    -fx-background-insets: 0;
    -fx-padding: 0.0 0.0 0.0 0.0;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.color-field {
    -fx-background-color: -px_selected, -px_default, -px-custom-background;
    -fx-background-insets: 0, 1, 4;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 0.25em 0.416667em 0.333333em 0.416667em;
}

.color-field:focused {
    -fx-background-color: -fx-focus-color, -px_default, -px-custom-background;
    -fx-background-insets: -0.4, 1, 3;
    -fx-background-radius: 3.4, 2, 2;
}

.color-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.change-color-button {
    -fx-background-color: -px_selected, -px-custom-background, -px-custom-background-2;
    -fx-background-insets: 0, 0, 0 0 0 40;
    -fx-background-radius: 0, 0, 0;
    -fx-padding: 0.25em 0.416667em 0.333333em 0.416667em;
}

.change-color-button:focused {
    -fx-background-color: -fx-focus-color, -px-custom-background, -px-custom-background-2;
    -fx-background-insets: -0.4, 2, 2 2 2 40;
    -fx-background-radius: 0, 0, 0;
}

.dialog-pane > .button-bar > .container {
    -fx-padding: 0;
}

.increment-arrow-button {
    -fx-background-color: -px_bright_default, -px_default;
    -fx-background-insets: 0, 1 1 0 0;
    -fx-background-radius: 0, 0;
    -fx-padding: 0; /* 2 10 3 10 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.increment-arrow-button:hover {
    -fx-background-color: -px_bright_default, -px_hover
}

.increment-arrow-button:armed {
    -fx-background-color: -px_bright_default, -px_selected
}

.decrement-arrow-button {
    -fx-background-color: -px_bright_default, -px_default;
    -fx-background-insets: 0 0 1 0, 0 1 2 0;
    -fx-background-radius: 0, 0;
    -fx-padding: -1 0 1 0; /* 2 10 3 10 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.decrement-arrow-button:hover {
    -fx-background-color: -px_bright_default, -px_hover
}

.decrement-arrow-button:armed {
    -fx-background-color: -px_bright_default, -px_selected
}
