
.root {
    -px_text: #404040;
    -px_text_stroke: transparent;

    -px_default: #FFFFFF;
    -px_window: #FFFFFF;
    -px_empty_area: #F4F4F4;
    -px_hover: #DDDDDD;
    -px_selected: #CCCCCC;
    -px_armed: #BBBBBB;
    -px_bright_default: #AAAAAA;
    -px_dark_default: #606060;
    -px_darkest: #000000;
    -px-custom-background: #000000;
    -px-custom-background-2: #000000;
}
