
.root {
    -px_text: #DDDDDD;
    -px_text_stroke: transparent;

    -px_default: #202020;
    -px_window: #202020;
    -px_empty_area: #282828;
    -px_hover: #404040;
    -px_selected: #505050;
    -px_armed: #606060;
    -px_bright_default: #707070;
    -px_dark_default: #BBBBBB;
    -px_darkest: #FFFFFF;
    -px-custom-background: #000000;
    -px-custom-background-2: #000000;
}
