.toggle-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0.25em 0.3em 0.25em 0.3em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.toggle-button:focused {
    -fx-background-color: transparent;
}

.toggle-button:hover {
    -fx-background-color: #CCCCCCFF;
}

.toggle-button:armed {
    -fx-background-color: #AAAAAAFF;
}

.toggle-button:selected {
    -fx-background-color: #AAAAAAFF;
}

.toggle-button:disabled {
    -fx-opacity: 0.4;
}

.toggle-button:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.palette-toggle-button:armed {
    -fx-background-insets: 0 -6 0 0;
}

.palette-toggle-button:selected {
    -fx-background-insets: 0 -6 0 0;
}
