.tool-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0.25em 0.3em 0.25em 0.3em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.tool-button:focused {
    -fx-background-color: transparent;
}

.tool-button:hover {
    -fx-background-color: #CCCCCCFF;
}

.tool-button:armed {
    -fx-background-color: #AAAAAAFF;
}

.tool-button:default {
    -fx-base: -fx-accent;
}

.tool-button:cancel {
}

.tool-button:disabled {
    -fx-opacity: 0.4;
}

.tool-button:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}
